<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
	/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">

	<title>
		<%= title %>
	</title>

	<link rel='stylesheet' href='/stylesheets/aui.2.0.css' />
	<link rel='stylesheet' href='/stylesheets/aui-slide.css' />
	<link rel='stylesheet' href='/stylesheets/detail.css' />
</head> 
<body>
	<div class="aui-content">
		<div class="detail-title">
			<a class="go-home" href="/">
				<i class="aui-iconfont aui-icon-home"></i>
			</a>
			<img src="/images/demo/002.jpg" />
			<div class="black-bg"></div>
			<h4>
				<%=act.act_theme %>
			</h4>
		</div>

		<!-- 重要信息 -->
		<ul class="detail-info">
			<li><label>领队：<%=act.leader1_name %> </label></li>
			<li><label>活动难度：</label>
				<%=act.difficuty_flag %> 级
					<%=act.difficuty_desc %>
			</li>
			<li><label>活动时间：</label>
				<%=act.start_on %> 至
					<%=act.end_on %>
			</li>
			<li><label>集合地点：</label>
				<%=act.start_place %>
			</li>
			<li><label>活动费用：</label>
				<%=act.price %>元</li>
			<li><label>报名人数：</label>
				<span class="aui-text-danger">0</span>/
				<%=act.person_count %> <span class="aui-text-default">(满<%=act.person_count %> 成行)</span></li>
		</ul>

		<!-- 详细信息 -->
		<div class="content">
			<!-- 头部切换 -->
			<div class="aui-tab" id="tab" style="width:100%">
				<a class="aui-tab-item aui-active" id="tab-route" href="#con-route">详细行程</a>
				<a class="aui-tab-item" id="tab-cost" href="#con-cost">费用说明</a>
				<a class="aui-tab-item" id="tab-setout" href="#con-setout">出行必备</a>
			</div>

			<!-- 路线详情 -->
			<div class="con" id="con-route" style="display:;">
				<%-act.act_detail %>
			</div>

			<!-- 费用说明 -->
			<div class="con" id="con-cost" style="display: none;">
				<dl>
					<dt>活动费用：</dt>
					<dd><b>100元</b>/人</dd>
				</dl>
				<dl>
					<dt>费用说明：</dt>
					<dd>
						1. 交通：当地全程交通费用，根据人数选择合适车型；<br> 2. 住宿：成都当地准三酒店1晚、阿坝酒店标间2晚、露营2晚（含帐篷和防潮垫）；<br> 3. 餐饮：5早6正餐，早餐10元/人/餐，正餐30元/人/餐。（自愿放弃早餐、路餐时，不退费）<br>						4. 门票：年保玉则景区门票 ；<br> 5. 马匹：包含马匹驮运食品、装备费用；<br> 6. 保险：全程5天旅游意外险（50万个人意外险）；<br> 7. 专业持证户外领队、持证高山协助、司机食宿补贴；<br> 8. 活动组织费用；<br>						9. 公用装备：应急药品，卫星电话，对讲机，高压锅，炒锅，调料，蔬菜，肉类，液化气罐，炊事帐篷。<br>
					</dd>
				</dl>
				<dl>
					<dt>费用不含：</dt>
					<dd>
						1. 大交通：各地往返成都的大交通费用；<br> 2. 不含餐时，建议大家自备零食或AA制；<br> 3. 其他个人消费；<br> 4. 门票说明：如持有教师证、军官证、记者证、伤残证、老年证、导游证、学生证等特殊证件，请在购票前向领队出示，根据当地政策减免相关费用，如有优惠，现场退还相应差价。<br>
					</dd>
				</dl>
			</div>

			<!-- 装备 -->
			<div class="con" id="con-setout" style="display: none;">
				<dl>
					<dt>必带装备：</dt>
					<dd>
						1. 双肩背包（请不要背单肩包、手提包）<br> 2. 徒步鞋/运动鞋<br> 3. 速干衣裤、毛巾等<br> 4. 登山杖、护膝等装备<br> 5. 雨衣 <br> 7. 2L以上的饮水<br> 8. 干粮（面包、八宝粥、香肠、水果、巧克力、牛肉干等）<br>						9. 身份证，200元左右现金<br>
					</dd>
				</dl>
				<dl>
					<dt>可选装备：</dt>
					<dd>
						1. 手机、相机、充电器 <br> 2. 防晒霜 <br> 3. 帽子<br> 自行发挥...
						<br>
					</dd>
				</dl>
			</div>

		</div>
	</div>

	<!-- footer -->
	<footer class="aui-bar aui-bar-tab" id="footer">
		<a class="aui-btn aui-btn-info aui-btn-block" href="/activity/enroll?aid=<%=act.id %>" style="border-radius: 0;">立即报名</a>
	</footer>

	<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript">
$(function(){
	// 标题切换
	$("#tab-route").click(function(){
		$(".aui-tab-item").removeClass("aui-active"); 
		$(this).addClass("aui-active"); 
		$(".con").hide();
		$("#con-route").show();
	});
	$("#tab-cost").click(function(){
		$(".aui-tab-item").removeClass("aui-active"); 
		$(this).addClass("aui-active"); 
		$(".con").hide();
		$("#con-cost").show();
	});
	$("#tab-setout").click(function(){
		$(".aui-tab-item").removeClass("aui-active"); 
		$(this).addClass("aui-active"); 
		$(".con").hide();
		$("#con-setout").show();
	});

	window.onscroll  = function(){
		var t = document.documentElement.scrollTop || document.body.scrollTop; 
		if (t>=500) {
			$(".aui-tab").addClass("fixed");  
		}
		else{
			$(".aui-tab").removeClass("fixed");  
		}
	};

})
</script>

</body>