<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
	/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">

	<title>报名</title>

	<link rel='stylesheet' href='/stylesheets/aui.2.0.css' />
	<link rel='stylesheet' href='/stylesheets/aui-slide.css' />

</head>

<body>
	<header class="aui-bar aui-bar-nav">
		<a class="aui-pull-left aui-btn" href="/detail">
			<span class="aui-iconfont aui-icon-left"></span>
		</a>
		<div class="aui-title">填写报名表</div>
	</header>

	<form id='reg_from' action="\activity\enroll?aid=<%=user.act_id %>" method="post">
		<div class="aui-content">
			<div class="aui-content aui-margin-b-15">
				<ul class="aui-list aui-form-list">
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								昵 称
							</div>
							<div class="aui-list-item-input">
								<input id="uname" name="uname" placeholder="昵  称" type="text" class="noborder_input form_control" value="<%=user.user_name %>">
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								真实姓名
							</div>
							<div class="aui-list-item-input">
								<input id="ureal_name" name="ureal_name" placeholder="真实姓名" type="text" class="noborder_input form_control" value="<%=user.real_name %>">
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								性别
							</div>
							<div class="aui-list-item-input">
								<label><input class="aui-radio" type="radio"  name="ugender" id="x1" value="1" <% if(user.gender=='1'){  %>  <%='checked' %>  <% } %>> 
								<label for="x1">男</label></label>
								<label><input class="aui-radio" type="radio"  name="ugender" id="x0" value="0" <% if(user.gender=='0'){  %>  <%='checked' %> <% } %>>
								<label for="x0">女</label></label>
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								身份证
							</div>
							<div class="aui-list-item-input">
								<input id="uidcard" name="uidcard" placeholder="身份证号" type="text" class="noborder_input form_control" value="<%=user.idcard %>">
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								手机号码
							</div>
							<div class="aui-list-item-input">
								<input id="uphone" name="uphone" placeholder="联系电话" type="text" class="noborder_input form_control" value="<%=user.phone %>">
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								紧急联系人
							</div>
							<div class="aui-list-item-input">
								<input id="ecperson" name="ecperson" placeholder="紧急联系人" type="text" class="noborder_input form_control" value="<%=user.ecperson %>">
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								紧急联系人电话
							</div>
							<div class="aui-list-item-input">
								<input id="ecpersonphone" name="ecpersonphone" placeholder="紧急联系人电话" type="text" class="noborder_input form_control" value="<%=user.ecpersonphone %>">
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								其他需求及建议
							</div>
							<div class="aui-list-item-input">
								<input id="others" name="others" placeholder="" type="text" class="noborder_input form_control" value="<%=user.others %>">
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								支付方式
							</div>
							<div class="aui-list-item-input">
								后续将支持在线支付
							</div>
						</div>
					</li>
					<li class="aui-list-item">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-label">
								<input type="checkbox"  />
							</div>
							<div class="aui-list-item-input">
								《服务说明及责任声明》
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- footer -->
		<footer class="aui-bar aui-bar-tab" id="footer">
			<input type="submit" class="aui-btn aui-btn-info aui-btn-block" style="border-radius: 0;" value="确认报名" />
		</footer>

	</form>
	<script src="/javascripts/aui-slide.js"></script>

</body>

</html>