<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <meta charset="UTF-8" />
    <meta name="author" content="王衡">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0" />
    <script type="text/javascript" src="/scripts/jquery/jquery-1.7.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/content/css/website.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/ihiking.me.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/content/css/website_mobile.css" media="screen and (max-width: 850px), screen and (orientation:portrait)"
    />
    <script type="text/javascript" src="/scripts/ihiking.me.js"></script>
    <script type="text/javascript" src="/scripts/tearspoint.core.js"></script>
    <script type="text/javascript" src="/scripts/tearspoint.core.dispatcher.js"></script>
    <script type="text/javascript">

    </script>
</head>

<body class="page-responsive">
    <div id='pal_signup'>
        <h1>Sign up</h1>
        <form id='reg_from' action="\account\regsvc" method="post">
            <div class="form_group">
                <input id="uname" name="uname" placeholder="昵称" type="text" class="noborder_input form_control" value="<%=user.user_name %>"
                />
            </div>
            <div class="form_group">
                <input id="ureal_name" name="ureal_name" placeholder="真实姓名" type="text" class="noborder_input form_control" value="<%=user.real_name %>"
                />
            </div>
            <div class="form_group">
                <input type="radio" class="weui_check" name="ugender" id="x1" value="1" <% if(user.gender=='1'){  %>  <%='checked' %>  <% } %>/>
                <label for="x1">男</label>
                <input type="radio" class="weui_check" name="ugender" id="x0" value="0" <% if(user.gender=='0'){  %>  <%='checked' %> <% } %> />
                <label for="x0">女</label>
            </div>
            <div class="form_group">
                <input id="uidcard" name="uidcard" placeholder="身份证号" type="text" class="noborder_input form_control" value="<%=user.idcard %>"
                />
            </div>
            <div class="form_group">
                <input id="uphone" name="uphone" placeholder="联系电话" type="text" class="noborder_input form_control" value="<%=user.phone %>"
                />
            </div>
            <div class="form_group">
                <input id="uemail" name="uemail" placeholder="email" type="text" class="noborder_input form_control" value="<%=user.email %>"
                />
            </div>
            <div class="form_group">
                <input id="uwechat_no" name="uwechat_no" placeholder="微信号" type="text" class="noborder_input form_control" value="<%=user.wechat_no %>"
                />
            </div>
            <div class="form_group">
                <input id="uabout_me" name="uabout_me" placeholder="个性签名" type="text" class="noborder_input form_control" value="<%=user.about_me %>"
                />
            </div>
            <div class="form_group">
                <input type="submit" class="btn_login" value="Sign up" />
                <a  class="btn_login" href='\account\login'> Sign in </a>
            </div>
        </form>
    </div>
</body>

</html>